body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myTimer {
    color: black;
    font-size: 50px;
    
}

#myTimer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#myTimer div:nth-child(2) {
    margin-top: 2rem;
}

div span {
    padding: 0 3rem;
}

#subtract, #add {
    padding: 1px 11px;
    font-weight: bolder;
    font-size: 30px;
}

#reset, #start {
    padding: 10px 60px;
}

#subtract,
#add,#reset,
#start {
    border: 1px solid black;
}

.active {
    background-color: #C5E0B4;
}